<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="contact.css">
        <link rel="stylesheet" href="https://use.typekit.net/fys1zji.css">
        <link rel="stylesheet" href="https://use.typekit.net/fys1zji.css">
    </head>
    <body>
        <div class="menu">
            <ul class="menu-list">
                <li class="menu-element">HOME</li>
                <li class="menu-element">ABOUT US</li>
                <li class="menu-element">CONTACT</li>
            </ul>
        </div>
        <header class="contact-header">CONTACT US</header>
        <div class="form">
            <form class="contact-form">
                <input id="name" type="text" placeholder="NAME"><br>
                <input id="email" type="text" placeholder="E-MAIL"><br>
		        <textarea id="message" type="text" placeholder="MESSAGE">
                </textarea><br>
                <input class="submit" type="submit" value="SUBMIT">
            </form>
        </div>
    </body>
</html>