<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="contact.css">
        <link rel="stylesheet" href="https://use.typekit.net/fys1zji.css">
        <link rel="stylesheet" href="https://use.typekit.net/fys1zji.css">
    </head>
    <body>
        <div class="menu">
            <ul class="menu-list">
                <li class="menu-element"><a href="index.html">HOME</a></li>
                <li class="menu-element">ABOUT US</li>
                <li class="menu-element">CONTACT</li>
            </ul>
        </div>
        <header class="contact-header">CONTACT US</header>
        <div class="form">
            <form class="contact-form">
                <input class="input" type="text" placeholder="NAME"><br>
                <input class="input" type="text" placeholder="E-MAIL"><br>
                <div class="input-message" placeholder="MESSAGE" role="textbox" contenteditable="true"></div><br>
                <input class="submit" type="submit" value="SUBMIT">
            </form>
        </div>
        <div>
            <p class="info">
                Fruity Friday<br>
                Phone number: 123456<br>
                Address: Coooos tam bla bla<br>
                E-mail: blabla@malpa.pl
            </p>
        </div>
    </body>
</html>